<div class="video-background">
  <video autoplay loop muted playsinline>
    <source src="https://cdn.pixabay.com/video/2022/12/18/143479-782374009_large.mp4" type="video/mp4">
    Seu navegador não suporta a tag de vídeo.
  </video>
</div>
<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
  <div class="flex-column d-flex justify-content-center align-items-center">
    <img src="https://www.webrota.com.br/assets/img/logo-min.png" alt="Web Rota Logo" class="logo mb-4">
    <input value="webrota@gmail.com" id="emailInput" type="text" class="form-control w-75 mb-3" placeholder="Digite seu e-mail">
    <input value="teste" id="senhaInput" type="password" class="form-control w-75 mb-3" placeholder="Digite sua senha">
    <button class="btn btn-primary w-75" (click)="login()">Entrar</button>
  </div>
</div>
